body {
	font-family: 'Share Tech Mono';
	background-color: #222;
	margin: 0;
	padding: 0;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;
  border-bottom: dotted #454444;
}

.logo {
	margin-right: auto;
	font-size: 26px;
	text-decoration: none;
	color: white;
	font-family: 'Share Tech Mono';
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a {
  font-family: 'Share Tech Mono';
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
		position: relative;
}

.nav__links li {
  padding: 0px 20px;
}

/*
.nav__links li a {
  transition: all 0.3s ease 0s;
}
*/

/*
.nav__links li a:hover {
  color: #0088a9;
}
*/

.nav__links li a:hover::before {
	content: '[';
	position: absolute;
    left: -4px;
}

.nav__links li a:hover::after {
	content: ']';
	position: absolute;
    right: -4px;
}

.nav__links li a:focus::before {
	content: '[';
	position: absolute;
    left: -4px;
}

.nav__links li a:focus::after {
	content: ']';
	position: absolute;
    right: -4px;
}

.aHover {
	padding-left: 4px;
	padding-right: 4px;
	left: -4px;
	position: relative;
	display: inline-block;
}

.aHover:hover::before {
	content: '[';
	position: absolute;
    left: -4px;
}

.aHover:hover::after {
	content: ']';
	position: absolute;
    right: -4px;
}

main {
	color: white;
	padding: 20%;
/*	padding-top: 5%;*/
	line-height: 2;
}

#list__page {
	padding-top: 2.5%;
}

.image {
	width: 20%;
	height: 20%;
	margin-right: 20px;
	border-radius: 10px;
}

.project {
	display: flex;
	background-color: #333;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.project__link {
	color: white;
	text-decoration: none;
}

.desc {
	color: #adacac;
	line-height: 1.5;
}

#coming__soon {
	text-align: center;
}


.footer {
	color: white;
	text-align: center;
	font-size: 12px;
}